* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", sans-serif;
}

body {
    background-color: #f3f3f3;
    color: #000000;
    padding: 0 10px;
    font-size: 9pt;
}

header {
    margin: 20px 0 20px 0;
    text-align: center;
}

.form-section {
    border-radius: 8px;
    margin-bottom: 25px;
}

#vendas-form {
    display: flex;
    flex-direction: column; 
    gap: 12px; 
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column; 
}

.form-group:first-child { padding-left: 0; }
.form-group:last-child { padding-right: 0; }

.form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    color: #000000;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    color: #000000;
    background-color: #f8f8f8;
    outline: none;
}

.form-group input:focus, .form-group select:focus {
    border-color: #000000;
    background-color: #ffffff;
}

#btn-salvar {
    width: 100%;
    padding: 10px;
    background-color: #222222;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 10pt;
    font-weight: 600;
    cursor: pointer;
}

#btn-salvar:hover { background-color: #000000; }

.total-vendido, .total-vendido-aberto  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    width: 100%;
    padding: 3px 0;
}

.total-vendido p {
    font-size: 12pt;
    color: #168500;
}

.total-vendido-aberto {
    padding-bottom: 23px;
}

.total-vendido-aberto p {
    font-size: 12pt;
    color: #cc3000;
}

.vendas-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;
}

.vendas-group h2 {
    color: #000000;
    font-size: 12pt;
}

#btn-exportar {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 40px;
    height: 40px;
    padding: 0;

    background-color: #f8f8f8;
    font-weight: 600;
    cursor: pointer;

    border: 1px solid #cbd5e1;
    border-radius: 6px;
}

#btn-exportar:hover { border: 1px solid black; }

#btn-exportar img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

table { width: 100%; border-collapse: collapse; }

table th {
    color: #000000;
    padding: 5px;
    border-bottom: 2px solid #e2e8f0;
    text-align: left;
}

table td {
    padding: 5px;
    border-bottom: 1px solid #f1f5f9;
    color: #000000;
}

table tbody tr:nth-child(even) { background-color: #f8fafc; }
table tbody tr:hover { background-color: #f1f5f9; }

.text-right {
    text-align: right;
}

footer {
    margin-top: 40px;
    padding: 10px;
    text-align: center;
    font-size: 8pt;
    color: #666;
    border-top: 1px solid #ddd;
}

.acoes {
    white-space: nowrap;
    padding-left: 0px;
}

.btn-editar {
    padding-right: 5px;
}

.btn-editar,
.btn-excluir {
    background: none;
    border: none;
    cursor: pointer;
}